# 변수와 연산자

In [5]:
print("안녕하세요 파이썬!")
print("안녕하세요 파이썬!")
print("안녕하세요 파이썬!")
print("안녕하세요 파이썬!")

안녕하세요 파이썬!
안녕하세요 파이썬!
안녕하세요 파이썬!
안녕하세요 파이썬!

In [6]:
hello = "안녕하세요 파이썬!"
print(hello)
print(hello)
print(hello)

안녕하세요 파이썬!
안녕하세요 파이썬!
안녕하세요 파이썬!

In [7]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [9]:
name = "나코딩"
age = 20

print(name)
print(age)

나코딩
20

In [14]:
print(type(name))
print(type(age))

<class 'str'>
<class 'int'>

In [16]:
num = 95.5
print(type(num))

res = True
print(type(res))

<class 'float'>
<class 'bool'>

In [22]:
a = 10
b = 20
print(a + b)
print(a - b)
print(a / b)
print(a % b)
print(a // b)
print(a ** b)

30
-10
0.5
10
0
100000000000000000000

In [25]:
money = 1000
print(money // 500)
print(money // 100)

2
10

In [29]:
money = 10000
price = 150
numCandy = money//price
change = money%price
print(numCandy)
print(change)

66
100

In [50]:
cost1 = int(input("1분기 지출 금액:"))
cost2 = int(input("2분기 지출 금액:"))

hap = 0

hap = cost1 + cost2
print("총액은:", hap,"억 원")
type(hap)

1분기 지출 금액:123.5

ValueError: invalid literal for int() with base 10: '123.5'

In [ ]:
cost = float(input("단가 입력:"))
cnt = float(input("개수 입력:"))
totalCost = 0

totalCost = cost * cnt
print("총액은",totalCost,"원")

In [54]:
cost = float(input("금액 입력:"))
cnt = float(input("인원 입력:"))

unitCost = float(0)
unitCost = cost / cnt
print(unitCost)

금액 입력:2
인원 입력:3
0.6666666666666666

In [55]:
income = int(input("총 수입:"))
spending = int(input("총 지출:"))
balance = 0

balance = income - spending #잔액 계산

print("잔액",balance) #잔액 출력

총 수입:1000
총 지출:200
잔액 800

In [58]:
10 == 10

10 != 10

False

In [65]:
a = 10
b = 60

a < 50 and b < 70

not a > 100

True

In [71]:
h = "python "
t = "is fun!"
print(h + t)

print(h*5)

print("*"*10)

python is fun!
python python python python python
**********

In [73]:
print("="*20)
print("I love python")
print("I like python")
print("="*20)

====================
I love python
I like python
====================

In [85]:
money = int(input("입금 금액:"))
price = int(input("선택 제품 금액:"))

change = money - price
print("잔돈" ,change)

c500 = change // 500
change = change% 500

c100 = change // 100
change = change% 100

print("500원",c500,"개")
print("100원",c100,"개")

입금 금액:1000
선택 제품 금액:200
잔돈 800
500원 1 개
100원 3 개

In [110]:
kor = int(input("국어 점수:"))
eng = int(input("영어 점수:"))
math = int(input("수학 점수:"))


hap = kor + eng + math
avg = hap / 3

print("총점",hap,"점","평균",avg,"점")

국어 점수:10
영어 점수:20
수학 점수:7
총점 37 점 평균 12.333333333333334 점

In [114]:
n = int(input("숫자입력(1~999) : "))
print(n)
d100 = n // 100 #백의 자리
n= n % 100 #백의자리를 제외한 나머지 자리

d10 = n // 10 #십의 자리
d1 = n % 10 #십의 자리를 제외한 나머지 자리

print("백의자리",d100)
print("십의자리",d10)
print("일의자리",d1)

숫자입력(1~999) : 999
999
백의자리 9
십의자리 9
일의자리 9

In [125]:
time = int(input("초 입력 :"))
print(time,"초")

minute = time // 60 #시간의 나머지(time은 영향이 없기 때문에)
second = time % 60 #시간의 몫 

hour = minute // 60 ()
minute = minute % 60

print(hour)
print(minute)
print(second)

초 입력 :3700
3700 초
61
1
1
40

In [128]:
attend = int(input("출석 입력 :"))
homework= int(input("과제 입력 :"))
mid = int(input("중간 입력 :"))
final = int(input("기말 입력 :"))

total = attend * 0.1
total += homework *0.3
total += mid *0.3
total += final *0.3

print("전체 총점 : ",total)

출석 입력 :50
과제 입력 :100
중간 입력 :100
기말 입력 :100
전체 총점 :  95.0

#