In [6]:
n = [2, 2.4, (1,2,3), "sun"]
n
type(n)

list

In [14]:
n = {2, 2.4, (1,2,3), "sun"}
type(n)

set

In [16]:
n = int(3.14)
print(type(n))
print(n)

<class 'int'>
3

In [22]:
n = float(7)
print(type(n))
print(n)

<class 'float'>
7.0

In [25]:
2.2 - 2.1

0.10000000000000009

In [30]:
n = 3 + 4.5j
print(type(n))
print(n)
n.conjugate()

<class 'complex'>
(3+4.5j)

(3-4.5j)

In [34]:
n = 3
n > 0

True + True #True는 1
True + False #False는 0

1

In [39]:
bool(3.2>1)

True

In [43]:
a = 'Nice Day'
a
b = 'Hello World'
b

a = 'Nice Day \
Hello'
a

'Nice Day Hello'

In [53]:
print('안녕하세요?')

\안녕하세요?

In [54]:
myName = "Juho"
print("My name is:",myName)

My name is: Juho

In [61]:
fruits = ("apple","grape","banana")
print("2번째과일이름:",fruits[1])

2번째과일이름: grape

In [75]:
fruits = ("apple","grape","banana") #튜플은 변경불가
#fruits[1] = "수박"
print("2번째과일이름:",fruits[1])

2번째과일이름: grape

In [6]:
myList = [1,2,3,4,5]
myList[2] = 1000
print("정수:",myList[2])
print("정수:",myList[-3])

정수: 1000
정수: 1000

In [84]:
a = int(input("Type number:"))
a
type(a)

Type number:1

int

In [85]:
a = 5
b = 3
print(a,"+",b,"=",a+b)

5 + 3 = 8

In [93]:
print(a,"+",b, end = " ")
print("=",a+b)

5 + 3 = 8

In [99]:
print(1,3,5,7,9,sep =",")

1,3,5,7,9

In [105]:
subject = input("학과입력:")
name = input("이름입력:")

msg = name + ' in ' + subject
print('I am ',msg)

학과입력:1
이름입력:2
I am  2 in 1

In [108]:
weight = float(input("몸무게 입력:"))

print("You are fat?", weight > 80)

몸무게 입력:1
You are fat? False

In [110]:
passWD = int(2323)

userWD = int(input("비번입력:"))

if(userWD == passWD):
    print("로그인성공")
else:
    print("로그인실패")

비번입력:11
로그인실패

In [113]:
country = "korea"

myCountry = input("국가입력:")

if(country == myCountry):
    print("한쿸인")
else:
    print("외쿸인")

국가입력:korea
한쿸인

#  파이썬의 3가지 출력 형태
1) 콤마(,)로 구분하여 출력하는 형태  
2) % 형식지정자를 이용하는 형태  
3) format() 함수를 이용하는 형태

In [114]:
name = input("이름 입력: ")
print("입력하신 이름은 %s" % name)

이름 입력: ss
입력하신 이름은 ss

In [124]:
n1 = int(input("첫 번째 숫자 입력: "))
n2 = int(input("첫 번째 숫자 입력: "))
print("%d + %d = %d" % (n1,n2,n1+n2))
print("%d + %d = %.2f" % (n1,n2,n1+n2))

첫 번째 숫자 입력: 100
첫 번째 숫자 입력: 200
100 + 200 = 300
100 + 200 = 300.00

In [128]:
print("%d" % 123)
print("%5d" % 123)
print("%05d" % 123)

123
  123
00123

In [135]:
print("%f" % 123.45)
print("%.2f" % 123.45)
print("%09.3f" % 123.45)

123.450000
123.45
00123.450

In [136]:
print("%s" % "Python")
print("%10s" % "Python")

Python
    Python

In [138]:
n1 = int(input("첫 번째 숫자 입력: "))
n2 = int(input("첫 번째 숫자 입력: "))

print("%d + %d = %d" % (n1,n2,n1+n2))
print("%d + %d = %.2f" % (n1,n2,n1+n2))

print()

print("{1} / {0} = {2}".format(n1,n2,n1/n2))

첫 번째 숫자 입력: 100
첫 번째 숫자 입력: 200
100 + 200 = 300
100 + 200 = 300.00

200 / 100 = 0.5

In [139]:
print("{1} {1} 빛나는 {0}".format("별","반짝"))

반짝 반짝 빛나는 별

In [144]:
print("%d %5d %05d" %(123,123,123))
print("{0:d} {1:5d} {2:05d}".format(123,123,123))

123   123 00123
123   123 00123

In [149]:
width = int(input("가로 길이 입력:"))
height = int(input("세로 길이 입력:"))
area = width * height
print("{},{},{}".format(width,height,area))

가로 길이 입력:3
세로 길이 입력:2
3,2,6

In [152]:
total = int(input("시간의 전체 초 입력: "))
min = total // 60
sec = total % 60
print("%d 초: %d 분 %d 초" % (total,min,sec))

시간의 전체 초 입력: 732
732 초: 12 분 12 초

In [157]:
name =input("이름 입력: ")
year = int(input("출생년도 입력: "))
age = 2022 - year + 1
print("{} 님의 한국 나이는 {}살".format(name,age))

이름 입력: 1
출생년도 입력: 1
1 님의 한국 나이는 2022살

In [180]:
height = float(input("키 입력: "))
result = (height - 100) * 0.9
#print("키 ",height, "의 표준 체중은 ", result,"kg 입니다.")
print("키 {}cm 의 표준 체중은 {}kg 입니다".format(height,result))

키 입력: 188.1
키 188.1cm 의 표준 체중은 7.9e+01kg 입니다

In [185]:
n1 = int(input("국어 점수: "))
n2 = int(input("영어 점수: "))
n3 = int(input("수학 점수: "))

print("국어:{}점, 영어:{}점, 수학:{}점 => 총점:{:.2f}, 평균:{:.2f}".format(n1,n2,n3,n1+n2+n3,(n1+n2+n3)/3))

국어 점수: 86
영어 점수: 82
수학 점수: 97
국어:86점, 영어:82점, 수학:97점 -> 총점:265.00, 평균:88.33

In [187]:
n1 = int(input("첫 번째 숫자 입력: "))
n2 = int(input("두 번째 숫자 입력: "))

print(n1," + ",n2," = ",n1+n2)
print(n1," - ",n2," = ",n1-n2)
print(n1," * ",n2," = ",n1*n2)
print(n1," / ",n2," = ",n1/n2)

첫 번째 숫자 입력: 20
두 번째 숫자 입력: 10
20  +  10  =  30
20  -  10  =  10
20  *  10  =  200
20  /  10  =  2.0