In [4]:
str = "good luck"
str[5:9]
str[5:]
str[:4]

'good'

# IF

In [7]:
member = input('회원이십니까?(y/n) ')
if member == 'y':
    print("어서 오십시요.")
print("안녕하세요.")

회원이십니까?(y/n)
안녕하세요.

In [8]:
member = input('회원이십니까?(y/n) ')
if member == 'y':
    print("어서 오십시요.")
else:
    print("회원가입을 해주세요.")

회원이십니까?(y/n) ㄴ
회원가입을 해주세요.

In [15]:
age = int(input('나이 입력: '))
price = 20000
if 1 <= age < 6 :
    print('입장료는 무료')
elif 6 <= age < 60 :
    print('입장료는', price, '원')
elif age >= 60 :
    print('입장료는', price*0.5, '원')
else:
    print('잘못 입력하였습니다.')

나이 입력: -135
잘못 입력하였습니다.

In [26]:
pocket = ['스마트폰','교통카드','현금']
item = input('결재 수단 입력: ')
price = 20000
if item in pocket and item == '현금':
    print('택시를 타세요.')
if item in pocket and item == '교통카드':
    print('버스를 타세요.')
else:
    print('걸어가세요.')

결재 수단 입력: ㅇㅇ
걸어가세요.

In [32]:
year = int(input('연도 입력: '))
if year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
    print('%d 년은 윤년' % year)
else:
    print('%d 년은 윤년 아님' % year)

연도 입력: 4
4 년은 윤년

In [37]:
month = int(input('월 입력: '))
if month < 1 or month > 12:
    print('error')
elif 3 <= month <= 5:
    print(month,'월은 봄')
elif 6 <= month <= 8:
    print(month,'월은 봄')
elif 9 <= month <= 11:
    print(month,'월은 봄')
else:
    print(month,'월은 겨울')

월 입력: 1
1 월은 겨울

In [49]:
num = int(input('정수 입력: '))
if num % 2 == 1:
    print('%d은 홀수' % num)
else:
    print('%d은 짝수' % num)

정수 입력: 2
2은 짝수

In [70]:
num = int(input('정수 입력: '))
if num > 0:
    print('%d은 양수' % num)
elif num <0:
    print('%d은 음수' % num)
else:
    print('%d은 0' % num)

정수 입력: -1
-1은 음수

In [82]:
id = input('아이디 입력: ')
pwd = input('비밀번호 입력: ')
if id == 'admin' and pwd == 'pw1234':
    print('login suecess')
else :
    print('아이디나 비밀번호가 틀려 로그인 실패')

아이디 입력: 1
비밀번호 입력: 1
아이디나 비밀번호가 틀려 로그인 실패

In [83]:
num1 = int(input('1차 점수 입력: '))
num2 = int(input('2차 점수 입력: '))
avg = (num1 + num2) / 2

if  100 >= avg >= 70 and 100 >= num1>= 50 and 100 >= num2 >= 50:
    print('합격')
elif  avg <70  and num1 < 50 and num2 < 50:
    print('불합격')
else:
    print('값 오류')

1차 점수 입력: 70
2차 점수 입력: 80
합격

In [101]:
num1 = int(input('1차 점수 입력: '))
if 100 >= num1 >= 96:
    grade = 'A+'
elif  95 >= num1 >= 90:
     grade = "A"
elif  90 > num1 >= 80:
     grade = 'B'
elif  80 > num1 >= 70:
     grade = 'C'
elif  70 > num1 >= 60:
     grade = 'D'
elif  60 > num1 >= 0:
     grade = 'F'
else:
    print(num1,'점은 나올 수 없는 점수')
    
print('%d 점은 %s학점' % (num1,grade))

1차 점수 입력: 100
100 점은 A+학점

# 반복문 for,while

In [114]:
for i in range(0,3,1):
    print('%d 안녕하세요? for문을 공부중입니다.' % i)

0 안녕하세요? for문을 공부중입니다.
1 안녕하세요? for문을 공부중입니다.
2 안녕하세요? for문을 공부중입니다.

In [117]:
for i in [1,2,3,4,5,6,7,8,9,10]:
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10

In [146]:
for i in range(1,101,2): #시작값, 끝값+1, 증강값
    print(i, end = " ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [142]:
hap = 0
for i in range(99,0,-2):
    hap += i
    print(hap, i, end = " ")
    
print(hap)

99 99 196 97 291 95 384 93 475 91 564 89 651 87 736 85 819 83 900 81 979 79 1056 77 1131 75 1204 73 1275 71 1344 69 1411 67 1476 65 1539 63 1600 61 1659 59 1716 57 1771 55 1824 53 1875 51 1924 49 1971 47 2016 45 2059 43 2100 41 2139 39 2176 37 2211 35 2244 33 2275 31 2304 29 2331 27 2356 25 2379 23 2400 21 2419 19 2436 17 2451 15 2464 13 2475 11 2484 9 2491 7 2496 5 2499 3 2500 1 2500

In [147]:
hap = 0
for i in range(501,1001,2):
    hap += i  
print(hap)

187500