# 리스트 : 수정할 수 있는 자료형

In [45]:
a =[]
type(a)

list

In [2]:
a = [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [3]:
b = ['Hello','Python']
b

['Hello', 'Python']

In [5]:
c = [1,2,"Hello",[10,20]]
c

[1, 2, 'Hello', [10, 20]]

In [12]:
a = [10,20,30,40]
a[0]
a[0]+a[2]
a[-3]
a[4] #범위 밖

IndexError: list index out of range

In [16]:
a[1:3] #[시작번호:끝번호-1]
a[:4] #처음부터
a[2:] #끝까지

[10, 20]

In [18]:
h = [10,20,30]
h[2] = 200
h

[10, 20, 200]

In [25]:
a = []
a = [10,20]
a.append(30) # a에 맨 뒤에 추가하는 기능
a.append([40,50]) # a에 맨뒤에 추가하는 기능
a.insert(1,15) # a의 중간에 추가하는 기능
a

[10, 15, 20, 30, [40, 50]]

In [29]:
a = [8,6,5,2,4]
a.sort() #오름차순 정렬
a

a.sort(reverse=True) #내림차순 정렬
a

[8, 6, 5, 4, 2]

In [34]:
a = [10,20,30,40]
a.pop() #pop안에 파라메터없으면 끝값 삭제
a.pop(1)
a
a.remove(30)
a

[10]

In [35]:
a = [10,20,30,20]
a.count(20) #리스트의 값 개수 세기

2

In [44]:
a = [10,20,30]
a.index(20)
len(a) #리스트 개수

3

# 튜플 :수정할 수 없는 자료형

In [51]:
a = (10,20,30,40)
a[1:3]
a[2:]
a[:4]

(10, 20, 30, 40)

In [52]:
a = (10,20,30,40)
a[1] =200

TypeError: 'tuple' object does not support item assignment

# 딕셔너리=맵: {key: value}, 순서x

In [57]:
menu = {'김밥': 2000,'라면':3000, '돈까스':7000}
menu['라면']
menu['짜장면']= 6000 #딕셔너리에 추가하는 기능
menu

{'김밥': 2000, '라면': 3000, '돈까스': 7000, '짜장면': 6000}

In [60]:
menu.keys()

dict_keys(['김밥', '라면', '돈까스', '짜장면'])

In [61]:
menu.values()

dict_values([2000, 3000, 7000, 6000])

In [62]:
menu.items() #key와 value의 쌍을 튜플로 묶은 값을 반환

dict_items([('김밥', 2000), ('라면', 3000), ('돈까스', 7000), ('짜장면', 6000)])

In [70]:
name = {100:'황복동',200:'황채연',300:'황나연'}
name[100]

name.get(400,'없음') #없는 값을 처리

'없음'

# get()함수: 키가 존재하지 않을 경우에는 KeyError를 발생x

In [73]:
name = {100:'황복동',200:'황채연',300:'황나연'}
del(name[100])
name
name.pop(200)
name

{300: '황나연'}

# 세트(집합) : 중복x, 순서x

In [80]:
a ={10,20,30}
b ={20,40}

a & b #교집합
a.intersection(b) #교집합

a|b #합집합

a-b #차집합

{10, 30}

In [83]:
s1 = {10,20,30}
s1.add(40)
s1

{10, 20, 30, 40}

In [92]:
c =set()

for i in range(1,7,1):
    c.add(int(input("숫자:")))
print(c)

숫자:10
숫자:20
숫자:30
숫자:40
숫자:50
숫자:60
{40, 10, 50, 20, 60, 30}

In [101]:
addr={}

addr['최재원']= '010-1111-1234'
addr['최지윤']= '010-2222-1234'
addr['김연수']= '010-3333-1234'
addr['김연우']= '010-4444-1234'
addr['김가현']= '010-5555-1234'
addr['김혜현']= '010-6666-1234'

print(addr)
print()
print(addr.keys())
print(list(addr.keys()))

name=input("search name: ")
print(addr.get(name,'없음'))

{'최재원': '010-1111-1234', '최지윤': '010-2222-1234', '김연수': '010-3333-1234', '김연우': '010-4444-1234', '김가현': '010-5555-1234', '김혜현': '010-6666-1234'}

dict_keys(['최재원', '최지윤', '김연수', '김연우', '김가현', '김혜현'])
['최재원', '최지윤', '김연수', '김연우', '김가현', '김혜현']
search name: 최재원
010-1111-1234

In [100]:
a = {}
print(type(a))

b = set()
print(type(b))

<class 'dict'>
<class 'set'>

In [105]:
score = [70,90,60,100,50]
cnt = 0 #반드시 초기화
for i in range(0,5,1):
    if score[i]>=70:
        cnt += 1

print('count:',cnt)

count: 3

In [107]:
s = int(input('start num: '))
e = int(input('end num: '))

#변수의 초기화
total, even, odd = 0,0,0
for i in range(s,e+1,1):
    total += i
    if i % 2 == 0:
        even += i
    else:
        odd += i

print('전체합계 :',total)
print('짝수의 합 :',even)
print('홀수의 합 :',odd)

start num: 1
end num: 100
전체합계 : 5050
짝수의 합 : 2550
홀수의 합 : 2500